/* sora-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/sora-v12-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/sora-v12-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
  /* sora-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/sora-v12-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/sora-v12-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }

/* poppins-300italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/poppins-v23-latin-300italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/poppins-v23-latin-300italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
  /* poppins-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v23-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/poppins-v23-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v23-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/poppins-v23-latin-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v23-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/poppins-v23-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v23-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/poppins-v23-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }

:root {
     --bg-gray: #F2F7FF;
}

.bg_gray {
     background: var(--bg-gray);
}

/* navbar start */

.my_nav {
     background: #F2F7FF;
     border-radius: 32px 32px 0 0;
     position: sticky;
     top: 0;
     z-index: 999;
}
.my_btn {
     background: linear-gradient(to right, #3A8EF6, #6F3AFA);
     background-size: 200% 100%;
     background-position: left center;
     padding: 12px 28px;
     border-radius: 100px;
     color: #fff;
     text-decoration: none;
     transition: background-position 0.5s;
     font-family: 'Sora';
     font-weight: 600;
     font-size: 18px;
     box-shadow: 0px 8px 23px 0px #4184F73D;
}

.my_btn:hover {
     background-position: right center;
}

.my_nav .nav-link {
     font-family: 'Sora';
     font-size: 16px;
     font-weight: 400;
     color: #6C87AE;
}
.my_nav .nav-link:hover {
     color: #333;
}

.my_nav .active {
     color: #3A8EF6 !important;
}
/* navbar end */

/* ---------------- Home Section Begin ---------------- */
.home {
     background: #F2F7FF;
     border-radius: 0 0 32px 32px;
}
.dr_name {
     font-family: 'Poppins';
     font-weight: 500;
     font-size: 22px;
     color: #00BFA5;
}

.home_title {
     font-family: 'Poppins';
     font-weight: 700;
     font-size: 48px;
     color: #031432;
}

.d_text {
     font-family: 'Sora';
     font-weight: 400;
     font-size: 16px;
     color: #6C87AE;
}
/* explore cards start */
.sm_cards {
     margin-top: -35px !important;
}
.sm_card {
     background: linear-gradient(to bottom, #1678F2, #65A8FB);
     border-radius: 12px;
     padding: 8px 18px;
     max-width: 258px;
}

.lg_card {
     max-width: 295px;
}
.sm_card_title {
     font-family: 'Sora';
     font-weight: 600;
     font-size: 18px;
     color: #fff;
}

.sm_card_text {
     font-family: 'Sora';
     font-weight: 400;
     font-size: 12px;
     color: #D6E7FD;
}
/* explore cards end */


/* ---------------- Home Section End ---------------- */

/* ---------------- About Section Begin ---------------- */
.d_title {
     font-family: 'Poppins';
     font-weight: 600;
     font-size: 32px;
     color: #031432;
     line-height: 150%;
}


/* ---------------- About Section End ---------------- */


/* ---------------- Cards Section Begin ---------------- */
.my_card {
     max-width: 346px;
     border-radius: 24px;
     padding: 32px;
     box-shadow: 0px 24px 32px -3px #0309320A;
     background: #fff;
}
.card_title {
     font-family: 'Poppins';
     font-weight: 500;
     font-size: 24px;
     color: #000;
}
.card_text {
     font-family: 'Sora';
     font-weight: 400;
     font-size: 14px;
     color: #6C87AE;
}

.my_card .my_btn {
     padding: 12px 20px;
}
/* ---------------- Cards Section End ---------------- */



/* ---------------- Blue Card Section Begin ---------------- */
.blue_card {
     background: linear-gradient(145.08deg, #1678F2 3.73%, #65A8FB 132.69%);
     padding: 64px 100px;
     border-radius: 32px;
}

.light_btn {
     background: #fff;
     padding: 12px 28px;
     border-radius: 100px;
     color: #3A8EF6;
     text-decoration: none;
     font-family: 'Sora';
     font-weight: 600;
     font-size: 18px;
     box-shadow: 0px 8px 23px 0px #4184F73D;
     transition: .5s;
}
.light_btn:hover {
     background: #e7e7e7;
}

.res_text {
     width: 60%;
}
/* ---------------- Blue Card Section End ---------------- */


/* ---------------- Feedback Card Section Begin ---------------- */
.feedback_card {
     background: #fff;
     max-width: 470px;
     padding: 18px 28px;
     border-radius: 32px;
}
.feedback_text {
     font-family: 'Poppins';
     font-weight: 300;
     font-style: italic;
     font-size: 16px;
     color: #031432;
}

.feedback_author {
     font-family: 'Poppins';
     font-weight: 500;
     font-size: 18px;
     color: #00BFA5;
}
.feedback_category {
     font-family: 'Sora';
     font-weight: 400;
     font-size: 12px;
     color: #6C87AE;
}
/* ---------------- Feedback Card Section End ---------------- */


/* ---------------- Footer Section Begin ---------------- */
footer {
     background: #1678F2;
}

.footer_text {
     font-family: 'Poppins';
     font-weight: 300;
     font-style: italic;
     font-size: 16px;
     color: #fff;
}
.footer_title {
     font-family: Poppins;
     font-weight: 600;
     font-size: 20px;
     color: #fff;
}
.footer_link {
     font-family: Sora;
     font-weight: 400;
     font-size: 16px;
     color: #D0E4FC;
     text-decoration: none;
}
.footer_link:hover {
     color: #fff;
}
.line {
     width: 100%;
     height: 1px;
     background: #A2C9FA;
}
.copyright {
     font-family: Sora;
     font-weight: 400;
     font-size: 16px;
     color: #D0E4FC;
}
/* ---------------- Footer Section End ---------------- */





@media screen and (max-width: 768px) {
     .sm_cards {
          margin-top: 0px !important;
     }
     .blue_card {
          padding: 24px 30px;
     }
}